.bg {
  width: 100vw;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.blue-page {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: ;
  background-color: #150b3e;
  border-radius: 10px;
  padding: 10px;
}
.profile-cont {
  display: flex;
  align-items: center;
}
.name {
  color: #d4d2db;
}
.bal-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ur-bal {
  color: #c7d2fe;
}
.money-rupee {
  display: flex;
  flex-direction: column;
}
.money {
  color: #d4d2db;
}
.in-rupees {
  color: #585076;
}
.wd-head {
  color: #c4c4c4;
}
.cs-para {
  color: #585076;
}
.denom-cont {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;

  list-style-type: none;
}

.image {
  width: 60px;
  border-radius: 50%;
}
